:root {
    /* --main-color: rgb(24, 21, 21); */
    --main-color: white;
    --text-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.dark__mode {
    --main-color: rgb(24, 21, 21);
    --text-color: white;
    --p-color: rgb(136, 134, 134);
    #insta__logo {
        filter: invert();
    }
}

.corpo {
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--main-color);
}

header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main {
    height: 500px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > div {
    text-align: center;
}

main > div > img {
    margin-bottom: 20px;
}


h1 {
    color: var(--text-color);
}

p {
    font-weight: bold;
    color: var(--text-color);
}

#insta__logo {
    filter: none;
}

a {
    color: var(--p-color);
}

span {
    color: var(--p-color);
    text-decoration: underline;
}

#preview {
    width: 700px;
    height: 300px;
    border: 5px solid var(--text-color);
    margin-top: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    /* text-align: center;
    align-items: center; */
    margin-top: 25px;
}

.click {
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 3px;
    padding: 10px;
}


@media (max-width: 600px) {
    .corpo {
        width: auto;
        height: auto;
    }

    #insta__logo {
        width: auto;
        height: auto;
    }
}
