@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); /*   BOOTSTRAP ICONS   */

:root {
    --main-color: rgb(24, 21, 21);
    --foreground-color: rgb(255, 255, 255);
    --p-color: rgb(136, 134, 134);
    --text-color: #22c55e;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main__div {
    width: 450px;
    height: auto;
    border: 2px solid var(--foreground-color);
    padding: 10px;
    /* color: rgb(185, 178, 178); */
    /* color: rgb(126, 121, 121); */
    color: var(--foreground-color);
}

.intro {
    display: flex;
    align-items: center;
    gap: 15px;
}

.my__info > a {
    text-decoration: none;
    outline: none;
}

.my__info > a > i {
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
    padding: 5px;
    /* filter: invert(100%); */
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    font-size: 2rem;
    /* margin-bottom: 10px; */
    text-decoration: none;
    outline: none;
    color: var(--foreground-color);
}

.my__info > a > i:hover {
    transform: translateY(-5px);
}

.my__info p {
    text-wrap: pretty;
}

.h1__color {
    color: var(--text-color);
}

h2 {
    color: var(--text-color);
    font-weight: 600;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}


#eu {
    border-radius: 50%;
    /* width: 250px; */
    height: 120px;
    filter: none;
}

#eu:hover {
    transform: none;
}

#project__text {
    margin-top: 10px;
}

.projects {
    height: 80px;
    border: 2px solid var(--foreground-color);
    border-radius: 5px;
    padding: 10px;
    /* background-color: gray; */
    filter: blur(50%);
    margin-top: 20px;
    color: var(--foreground-color);

    /* transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease; */
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}


.projects:hover {
    cursor: pointer;
    /* transform: translateY(-5px); */
    background-color: var(--foreground-color);
    color: var(--main-color);
}

footer {
    width: 450px;
    color: white;
    padding: 10px;
    border: 2px solid var(--foreground-color);
    margin-top: 20px;
    text-align: center;
}

footer i {
    font-size: 30px;
}

@media (max-width: 600px) {
    .main__div {
        width: 400px;
    }
    .projects {
        height: auto;
    }
    footer {
        width: 400px;
    }
}

@media (max-width: 430px) {
    .main__div {
        width: 340px;
    }
    .projects {
        height: auto;
    }
    footer {
        width: 340px;
    }
}