@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); /*   BOOTSTRAP ICONS   */

:root {
    --main-color: white;
    --text-color: black;
    --boxshadow-color: rgba(0, 0, 0, 0.36)  ;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.dark__mode {
    --main-color: rgb(24, 21, 21);
    --text-color: rgb(255, 255, 255);
    --p-color: rgb(136, 134, 134);
    --boxshadow-color: rgba(255, 255, 255, 0.36);
}

body {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.theme__switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--main-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

.theme__switch:hover {
    cursor: pointer;
}

.theme__switch i {
    color: var(--text-color);
    font-size: 25px;
}

.theme__switch i:last-child {
    display: none;
}

.dark__mode .theme__switch i:first-child {
    display: none;
}

.dark__mode .theme__switch i:last-child {
    display: block;
}

.theme {
    color: var(--main-color);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.main__div {
    width: 450px;
    height: auto;
    border: 3px solid var(--text-color);
    padding: 10px;
    /* color: rgb(185, 178, 178); */
    /* color: rgb(126, 121, 121); */
    color: var(--text-color);
    box-shadow: 0px 0px 10px var(--boxshadow-color), 0px 0px 15px var(--boxshadow-color);
}

.intro {
    display: flex;
    flex-direction: row;
}

.my__info > a {
    text-decoration: none;
    outline: none;
}

.my__info > a > i {
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
    padding: 5px;
    /* filter: invert(100%); */
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    font-size: 2rem;
    /* margin-bottom: 10px; */
    text-decoration: none;
    outline: none;
    color: var(--text-color);
}

.my__info > a > i:hover {
    transform: translateY(-5px);
}

.my__info p {
    text-wrap: pretty;
}

.h1__color {
    color: blue;
}

h2 {
    color: blue;
}

#eu {
    border-radius: 50%;
    /* width: 250px; */
    height: 120px;
    filter: none;
}

#eu:hover {
    transform: none;
}

#project__text {
    margin-top: 10px;
}

.projects {
    height: 80px;
    border: 3px solid var(--text-color);
    border-radius: 5px;
    padding: 10px;
    /* background-color: gray; */
    filter: blur(50%);
    margin-top: 20px;
    color: var(--text-color);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.411);

    /* transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease; */
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}


.projects:hover {
    cursor: pointer;
    /* transform: translateY(-5px); */
    background-color: var(--text-color);
    color: var(--main-color);
}

footer {
    width: 450px;
    color: white;
    padding: 10px;
    border: 3px solid var(--text-color);
    margin-top: 20px;
    box-shadow: 0px 0px 10px var(--boxshadow-color), 0px 0px 15px var(--boxshadow-color);
    text-align: center;
}

footer i {
    font-size: 30px;
}

@media (max-width: 600px) {
    .main__div {
        width: 400px;
    }
    .projects {
        height: auto;
    }
    footer {
        width: 400px;
    }
}
